.sidebar {
    background-color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   /* align-items: center; */
   margin-top: 20px;
}
.sidebar > div > svg {
  font-size: 25px;
  cursor: pointer;
  margin-top: 50px;
  color:#bfbfc5dc;
 padding-left: 50px;
}

.sidebar > div {
    display: flex;
    flex-direction: column;
}


.menu {
    border-left:5px solid transparent ;
    padding: 10px;
}

.menu:hover,.menu.true {
border-color: blueviolet;
}

.menu.true {
    color:blueviolet;
}