*{
  margin: 0;padding: 0;
}

.layout {
  background-color: #eaecf8;
  box-sizing: border-box;
  width: 100%;
  background-color: #eaecf8;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 70px);
}

.home {
display: flex;
flex-direction: column;
height: 100vh;
}

.down {
  display: grid;
  grid-template-columns: 160px auto;
}